.game-over-container {
  background-image: url("/assets/images/fondoGameOver.png");
  background-size: cover;
  width: 100vw;
  height: 100dvh;

  .header {
    padding-left: 5%;
    padding-top: 5%;

    .home-button {
      width: 5%;
    }
  }

  .content {
    display: flex;
    justify-content: center;
    gap: 2%;
    padding: 0% 5%;

    .score {
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .logo {
        width: 40%;
        padding-bottom: 5%;
      }

      .table {
        position: relative;

        .quantity-container {
          position: absolute;
          top: 9.7%;
          left: 39.4%;
          width: 18.6%;
          height: 17%;
          display: flex;
          justify-content: center;
          align-items: center;

          span {
            font-size: 2.5vw;
            font-weight: bold;
          }
        }
      }
    }

    .car {
      display: flex;
      align-items: flex-end;
    }
  }

  .game-over {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 70%;
    }

    .click-button {
      position: absolute;
      bottom: 14%;
      left: 41%;
      width: 17.4%;
      height: 10.3%;
    }
  }
}
